<% if @financial_responsible.errors.any? %>
    <div class='alert alert-danger'>
      <ul>
        <% @financial_responsible.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= form_with(model: @financial_responsible) do |form| %>
  <%= form.hidden_field :student_id, value: @student.id %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :cpf %>
  <%= form.text_field :cpf %>
  <%= form.label :phone %>
  <%= form.text_field :phone %>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <%= form.submit 'Salvar', class:'btn btn-primary' %>
<% end %>