<h1>Responsáveis Financeiros</h1>
<%= link_to 'Criar Responsável', new_financial_responsible_path, class: 'btn btn-primary mb-2' %>
<div class=''>
  <table class="fs-9 mb-0 border-top border-translucent table">
    <thead>
      <tr>
        <th style="width: 30%;">Nome</th>
        <th style="width: 20%;">CPF</th>
        <th style="width: 20%;">Telefone</th>
        <th style="width: 30%;">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @financial_responsibles.each do |responsable| %>
          <tr>
            <td><%= link_to responsable.name, responsable %></td>
            <td><%= responsable.cpf %></td>
            <td><%= responsable.phone %></td>
            <td><%= responsable.email %></td>
          </tr>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
