<h1>Responsáveis Financeiros</h1>
<%= link_to 'Cadastrar Responsável Financeiro', new_financial_responsible_path, class: 'btn btn-primary' %>
<div class="table-responsive small">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Telefone</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <% @financial_responsibles.each do |responsable| %>
          <tr>
            <td><%= link_to responsable.name, responsable %></td>
            <td><%= responsable.cpf %></td>
            <td><%= responsable.phone %></td>
            <td><%= responsable.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>