<%= form_with(model: private_lesson, local: true) do |form| %>
  <% if private_lesson.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(private_lesson.errors.count, "erro") %> impediram o salvamento:</h4>
      <ul>
        <% private_lesson.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :current_plan_id, "Aluno" %>
    <%= form.collection_select :current_plan_id,
      @current_plans,
      :id,
      ->(cp) { "#{cp.student.name} - #{cp.plan.name}" },
      { prompt: "Selecione o aluno" },
      class: "form-select" %>
  </div>
  <div class="mb-3">
    <%= form.label :start_time, "Horário da aula" %>
    <div class="d-flex gap-2">
      <%= form.datetime_select :start_time, { ampm: true, order: [:day, :month, :year], discard_minute: true, discard_year: true,  default: Time.now.change(min: 0), } , { class: "form-control ", style:'width:10%' } %>
    </div>
  </div>
  <div class="mb-3">
    <%= form.label :notes, "Observações" %>
    <%= form.text_area :notes, class: "form-control", rows: 3 %>
  </div>
  <div class="mt-4">
    <%= form.submit class: "btn btn-primary" %>
    <% if current_user.admin? %>
      <%= link_to 'Voltar', private_classes_path, class: "btn btn-outline-secondary" %>
    <% else %>
      <%= link_to 'Voltar', private_lessons_path, class: "btn btn-outline-secondary" %>
    <% end %>
  </div>
<% end %>
