<div id="<%= dom_id classroom %>">
  <div class="col">
    <div class="card shadow-sm">
      <div class="card-header py-1">
        <h4 class="my-1 fw-normal fs-5"><%= classroom.name %></h4>
      </div>
      <div class="card-body">
        <p class="card-text"></p>
        <p><strong>Horário: </strong><%= classroom.time %></p>
        <p><strong>Teacher: </strong><%= classroom.teacher.name %></p>
        <div class='d-flex p-2 justify-content-around'>
          <%=
          link_to 'Criar Atividades',
                  classroom,
                  class: 'btn btn-primary',
                  style: 'width:150px'
        %>
          <%=
          link_to 'Ver Detalhes',
                  show_details_classroom_path(classroom),
                  class: 'btn btn-outline-primary',
                  style: 'width:150px'
        %>
        </div>
        <% if current_user.admin? %>
          <div class='d-flex p-2 justify-content-around'>
            <%= button_to 'Linkar Kids', update_current_plan_classroom_path(classroom, plan_id: 1), 
              method: :post, class: 'btn btn-outline-success mt-2', style: 'width:150px' %>
            <%= button_to 'Linkar Adults', update_current_plan_classroom_path(classroom, plan_id: 3), 
              method: :post, class: 'btn btn-outline-success mt-2', style: 'width:150px' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
