<div id="<%= dom_id classroom %>">
  <div class="col">
    <div class="card shadow-sm">
      <div class="card-header py-1">
        <h4 class="my-1 fw-normal fs-5"><%= classroom.name %></h4>
      </div>
      <div class="card-body">
        <p class="card-text"></p>
        <p><strong>Horário: </strong><%= classroom.time %></p>
        <p><strong>Teacher: </strong><%= classroom.teacher.name%></p>
        <%= link_to "Show this classroom", classroom, class:'btn btn-outline-primary', style:"width:200px"  %>
      </div>
    </div>
  </div>
</div>
