<div class="card mb-3" style="width: 35rem;">
  <div class="card-body">
    <h5 class="card-title">Criar nova Atividade para todos os alunos da turma:</h5>
    <p class="card-text">
      <%= form_with url: create_activity_classrooms_path, method: :post do |form| %>
        <%= form.hidden_field :classroom_id, value: @classroom.id %>
        <div>
          <%= form.label 'Atividade', style: "display: block" %>
          <%= form.text_field :report %>
        </div>
        <div>
          <%= form.label :date, style: "display: block" %>
          <%= form.date_field :date,  value: Date.today %>
        </div>
        <div  class="mt-3">
          <%= form.button "Criar atividade", class: "btn btn-outline-primary"  %>
        </div>
      <% end %>
    </p>
  </div>
</div>
