<h2>Turma  <%= @classroom.name%></h2>
<p style="color: green"><%= notice %></p>
<br/>

<%= render @classroom %>


<div>

<% @students.each do |student| %>
<p><strong>Aluno:</strong> <%= student.name %></p>
<% Activity.find_by(student_id: student.id).report%>
<%activities = Activity.where(:student_id => student.id)%>
<%activities.each do |item| %>
<p><strong>Data:</strong> <%=item.date.strftime("%d/%m") unless item.date.nil?%> | <strong>Atividade:</strong> <%=item.report%> | <strong>Status:</strong>  <%=item.late%> </p>
<% end%>
<p>-------------------</p>
<%end%>

  <%= link_to "Edit this classroom", edit_classroom_path(@classroom) %> |
  <%= link_to "Back to classrooms", classrooms_path %>

  <%= button_to "Destroy this classroom", @classroom, method: :delete %>
</div>
