Found no changes, using resolution from the lockfile
Found no changes, using resolution from the lockfile
Found no changes, using resolution from the lockfile
Found no changes, using resolution from the lockfile
Found no changes, using resolution from the lockfile
Found no changes, using resolution from the lockfile
Found no changes, using resolution from the lockfile
Found no changes, using resolution from the lockfile
Found no changes, using resolution from the lockfile
Found no changes, using resolution from the lockfile
Found no changes, using resolution from the lockfile
<h2>Turma <%= @classroom.name%></h2>
<p style="color: green"><%= notice %></p>
<br />
<%# Chama a caixa para criar novas atividades %>
<%= render "create_activity" %> <%= render @classroom %>
<div>
  <% activities_organized=@activities.sort_by(&:date)%> <% dates=[]%>
  <%activities_organized.each do |activity|%> <%dates << activity.date%> <%end%>
  <%dates.uniq.each do |date|%>
    <br />
    <%= date%>
    <br />
    <% @activities.where(date: date).each do |activity|%>
      <strong> <%= activity.student.name %> </strong>
      <%=activity.report %> <%=activity.late %>
      <%= link_to "Edit", edit_activity_path(activity), class:'', style:"width:200px" %>      <br />
    <% end %>
    <br />
    ------------------- <br />
  <%end%> <% %> <% %>
  <br />
  <%= link_to "Edit this classroom" , edit_classroom_path(@classroom),
	class:'btn btn-outline-primary', style:"width:200px" %> | <%= link_to "Back to
	classrooms" , classrooms_path, class:'btn btn-outline-primary',
	style:"width:200px" %> <%= button_to "Destroy this classroom" , @classroom,
	method: :delete, class:'btn btn-outline-danger mt-4', style:"width:200px" %>
</div>
