<h2>Turma <%= @classroom.name%></h2>
<h4 class="text-secondary"><%= @classroom.teacher.name%> | <%= @classroom.time%></h4>
<p style="color: green"><%= notice %></p>
<br />
<%# Chama a caixa para criar novas atividades %>
<%= render "create_activity" %> <%= render @classroom %>
<div>
  <%# organiza as datas e as joga em um array %>
  <% activities_organized=@activities.sort_by(&:date)%>
  <% dates=[]%>
  <%activities_organized.each do |activity|%>
    <%dates << activity.date%>
  <%end%>
  <%# roda por todas as datas %>
  <%dates.uniq.each do |date|%>
    <h3><%= date.strftime("%d/%m/%y") %></h3>
    <br />
    <% @students.each  do |student|%>
      <strong><%= student.name%></strong><br/>
      <% @activities.where(student_id: student.id, date: date).each do |activity|%>
        <ul>
          <% if (activity.late == 'feito')%>
            <li><%=activity.report %> <span style="color:blue;font-size:14px">(<%=activity.late %>)</span> <%= link_to "Edit", edit_activity_path(activity) %>
            </li>
          <% elsif (activity.late == 'entregue com atraso')%>
            <li><%=activity.report %> <span style="color:orange;font-size:14px">(<%=activity.late %>)</span> <%= link_to "Edit", edit_activity_path(activity)%>
            </li>
          <%else%>
            <li><%=activity.report %> <span style="color:red;font-size:14px">(<%=activity.late %>)</span> <%= link_to "Edit", edit_activity_path(activity)%>
            </li>
          <% end %>
        </ul>
      <%end%>
      <br />
      ------------------- <br />
    <%end%>
  <%end%>
  <br />
  <%= link_to "Edit this classroom" , edit_classroom_path(@classroom),
	class:'btn btn-outline-primary', style:"width:200px" %> | <%= link_to "Back to
	classrooms" , classrooms_path, class:'btn btn-outline-primary',
	style:"width:200px" %>
  <%= button_to "Destroy this classroom" , @classroom,
	method: :delete,method: :delete,  form: { data: { turbo_confirm: 'Are you sure?' } }, class:'btn btn-outline-danger mt-4', style:"width:200px" %>
</div>
<%= params%>
