<div class="text-center">
  <div class="mb-4 mt-5 ">
    <%=
      link_to image_tag(
                'logo.png',
                width: 140,
                border: 0,
              ),
              { action: 'index', controller: '/home' },
              { class: 'dock-item ' }
    %>
  </div>
  <main class="form-signin">
    <div class="d-inline-flex flex-column p-2">
      <h2>Editar Usuário</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render 'devise/shared/error_messages', resource: resource %>
        <div class="field">
          <%= f.label :email, class: 'form-label' %><br />
          <%=
            f.email_field :email,
                          autofocus: true,
                          autocomplete: 'email',
                          class: 'form-control'
          %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>
            Currently waiting confirmation for:
            <%= resource.unconfirmed_email %>
          </div>
        <% end %>
        <div class="field">
          <%= f.label :cpf, class: 'form-label' %><span
            class="text-body-secondary"
          >
            (apenas os números)</span
          ><br />
          <%=
            f.text_field :cpf,
                         autofocus: true,
                         autocomplete: 'CPF',
                         id: 'cpf',
                         placeholder: 'Digite seu CPF...',
                         class: 'form-control'
          %>
        </div>
        <div class="field">
          <%= f.label :password, class: 'form-label' %> <i
            >(Deixe em branco caso não deseje alterá-la)</i
          ><br />
          <%=
            f.password_field :password,
                             autocomplete: 'new-password',
                             class: 'form-control'
          %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> letras no mínimo</em>
          <% end %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, class: 'form-label' %><br />
          <%=
            f.password_field :password_confirmation,
                             autocomplete: 'new-password',
                             class: 'form-control'
          %>
        </div>
        <div class="field">
          <%= f.label :current_password, class: 'form-label' %> <i
            >(we need your current password to confirm your changes)</i
          ><br />
          <%=
            f.password_field :current_password,
                             autocomplete: 'current-password',
                             class: 'form-control'
          %>
        </div>
        <div class="actions">
          <%= f.submit 'Salvar', class: 'btn btn-primary my-3' %> <%=
            link_to 'Voltar', :back, class: 'btn btn-outline-primary my-3'
          %>
        </div>
      <% end %>
      <div>
        <%=
          button_to 'Cancel my account',
                    registration_path(resource_name),
                    data: {
                      confirm: 'Are you sure?',
                      turbo_confirm: 'Are you sure?',
                    },
                    method: :delete,
                    class: 'btn btn-danger'
        %>
      </div>
    </div>
  </main>
</div>
<script>
  document.getElementById("cpf").addEventListener("input", function (e) {
    //let x = e.target.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0,3})(\d{0,3})(\d{0,4})(\d{0,2})/);
    //e.target.value = !x[2] ? x[1] : x[1] + '.' + x[2] + (x[3] ? '.' : '') + x[3] + (x[4] ? '/' : x[4]) + x[4] + (x[5] ? '-' + x[5] : '');

    //if(e.target.value.length < 15) {
    x = e.target.value
      .replace(/\D/g, "")
      .match(/(\d{0,3})(\d{0,3})(\d{0,3})(\d{0,2})/);
    e.target.value = !x[2]
      ? x[1]
      : x[1] + "." + x[2] + (x[3] ? "." : "") + x[3] + (x[4] ? "-" + x[4] : "");
    //}

    //Caso queira pegar apenas os números use essa função para remover todos os caracteres menos os números em Javascript
    let valor = e.target.value.replace(/[^0-9]/g, "");

  });
</script>
