<div class="text-center">
  <div class="mb-4 mt-5 ">
    <%=link_to image_tag("https://englishglobe.com.br/wp-content/themes/english/images/logo.png", width: 140, border: 0), {action: 'index', controller: '/home'}, {class: 'dock-item '} %>
  </div>
  <main class="form-signin">
    <h2>Criar Conta</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <%= f.label :cpf %><span class='text-body-secondary'> (apenas os números)</span><br />
        <%= f.text_field :cpf, autofocus: true, autocomplete: "CPF", id:"cpf" %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="actions">
        <%= f.submit "Criar conta", data:{turbo: false}, class:"btn btn-primary btn-lg my-3"  %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </main>
</div>
<script>
  document.getElementById('cpf').addEventListener('input', function(e) {

        //let x = e.target.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0,3})(\d{0,3})(\d{0,4})(\d{0,2})/);
        //e.target.value = !x[2] ? x[1] : x[1] + '.' + x[2] + (x[3] ? '.' : '') + x[3] + (x[4] ? '/' : x[4]) + x[4] + (x[5] ? '-' + x[5] : '');

        //if(e.target.value.length < 15) {
            x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,3})(\d{0,2})/);
            e.target.value = !x[2] ? x[1] : x[1] + '.' + x[2] + (x[3] ? '.' : '') + x[3] + (x[4] ? '-' + x[4] : '');
        //}

        console.log('Com formatação: ' + e.target.value);

        //Caso queira pegar apenas os números use essa função para remover todos os caracteres menos os números em Javascript
        let valor = e.target.value.replace(/[^0-9]/g, '');
        //console.log('Sem formatação: ' + valor);
    });
</script>
