<h1>
  Turmas encontradas do(a) professor(a) <%= @classrooms.first.teacher.name %>
</h1>
<main class="mt-4">
  <h3>Turmas encontradas: <%= @classrooms.count %></h3>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <% if @classrooms.count == 0 %>
      <h4>Nenhuma turma encontrada.</h4>
    <% else %>
    <% end %>
    <%@classrooms.each do |classroom|%>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><%= classroom.name %></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>
                Professor(a): <strong><%= classroom.teacher.name %></strong>
              </li>
              <li>
                Horário: <strong><%= classroom.time %></strong>
              </li>
            </ul>
            <%=
              link_to 'Ver turma',
                      classroom,
                      class: 'btn btn-outline-success',
                      style: 'width:150px'
            %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>
