<h1><%= pluralize(@students.count, "Resultado")%></h1>
<%= render "search/form"%>
<main class="mt-4">
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <%@students.each do |student|%>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><%= student.name %></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><%= student.classroom.name %></li>
              <li><%= student.classroom.teacher.name %></li>
            </ul>
            <%= link_to "Show Activities", report_student_path(student), class:'btn btn-outline-primary', style:"width:150px"  %>
            <%= link_to "Show Student", student, class:'btn btn-outline-primary', style:"width:150px"  %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>
