<h3>Cursos:  <% if @student.current_plan %>
    <%= @student.current_plan.plan.name %>
  <% else %>
    <%= link_to 'Cadastrar um plano', new_current_plan_path(student_id: @student.id) %>
  <% end %></h3>
<p class="lead"></p>
<dl>
  <dt>Professor(a): </dt>
  <dd>
    <%=  @student.current_plan&.teacher.nil? ? 'Professor(a) não cadastrado' : @student.current_plan.teacher.name %>
  </dd>
  <dt>Turma: </dt>
  <dd> <%= @student.current_plan.nil? ? 'Não possui turma cadastrada' : 'Aluno Particular' %></dd>
  <dt>Status: </dt>
  <dd class="<%= @student.status == 'registered' ? 'text-success' : 'text-danger' %>">
    <strong><%= I18n.t(@student.status) %></strong>
  </dd>
  <dt>Telefone celular: </dt>
  <dd><%= @student.cel_phone.present? ? @student.cel_phone : "Telefone celular não cadastrado."%></dd>
  <dt>Email: </dt>
  <dd><%= @student.email.present? ? @student.email : "Email não cadastrado."%></dd>
  <dt>CPF: </dt>
  <dd><%= @student.cpf.present? ? @student.cpf : "CPF não cadastrado."%></dd>
</dl>