<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= <%= I18n.t(@student.status) %> %>
  </p>

  <p>
    <strong>Classroom:</strong>
    <%=
      if student.classroom.nil?
        'Não possui turma cadastrada'
      else
        student.classroom.name
      end
    %>
  </p>
</div>
