<section class="py-1 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <%= image_tag("logo_t.png", width:"220", class:"mb-4") %>
      <h1 class="fw-light"><%= @student.name %></h1>
      <p class="lead text-body-secondary">
        Turma:
        <strong><%= @student.classroom.nil? ? 'Não possui turma cadastrada' : @student.classroom.name %></strong>
      </p>
      <p class="lead text-body-secondary">
        Professor(a):
        <strong><%= @student.classroom.nil? ? 'Não possui turma cadastrada' : @student.classroom.teacher.name %></strong>
      </p>
    </div>
  </div>
  <% if params[:last_semester] %>
    <h2>Relatório do Primeiro Semestre de 2025</h2>
  <%else %>
    <h2>Relatório do Segundo Semestre de 2025</h2>
  <% end %>
  <div>
    <% if @report_data[:resume]&.ativo? %>
      <%= simple_format(@report_data[:resume].written_report) %>
    <% end %>
  </div>
</section>
<section
  class="d-flex justify-content-around align-items-center flex-wrap"
  data-turbo="false"
  data-controller="chart"
>
  <div>
    <h2>Atividades do Semestre</h2>
    <canvas
      width="250px"
      data-chart-target="activity"
      id="donut-chart-activity"
      data-values="<%= [
        @report_data[:activities].set_done_activities.count,
        @report_data[:activities].set_late_activities.count,
        @report_data[:activities].set_not_done_activities.count
      ].to_json %>">
    </canvas>
  </div>
  <div>
    <h2>Presenças do Semestre</h2>
    <canvas
         width="250px"
          data-chart-target="presence"
          id="donut-chart-presence"
          data-values="<%= [
            @report_data[:activities].pluck(:date).uniq.count - @report_data[:number_of_absence],
            @report_data[:number_of_absence]
            ].to_json %>">
    </canvas>
  </div>
</div>
</section>
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <%
      days_with_activities = @report_data[:activities].pluck(:date).uniq.count
    %>
    <p>
      <strong>Total de aulas:</strong> <%= days_with_activities %> |
      <strong>Faltas:</strong> <%= @report_data[:number_of_absence] %> |
      <strong>Frequência: </strong> <%=
        number_with_precision(
          (
            (days_with_activities - @report_data[:number_of_absence]).to_f /
              days_with_activities * 100
          ),
          precision: 1,
        )
      %>%
    </p>
    <p>
      <strong>Total de atividades:</strong> <%=
        @report_data[:activities].count
      %>
      | <strong>Entregues no prazo:</strong> <%=
        @report_data[:activities].set_done_activities.count
      %>
      | <strong>Entregues com atraso:</strong> <%=
        @report_data[:activities].set_late_activities.count
      %>
      | <strong>Não feitas:</strong> <%=
        @report_data[:activities].set_not_done_activities.count
      %>
      | <strong>Total de atividades feitas:</strong> <%=
        number_with_precision(
          (
            (
              @report_data[:activities].count -
                @report_data[:activities].set_not_done_activities.count
            ).to_f / @report_data[:activities].count * 100
          ),
          precision: 1,
        )
      %>%
    </p>
    <p>
      <span class="text-primary">Atividades feitas</span> |
      <span class="text-warning"
        >Atividades entregues com atraso ou incompletas</span
      >
      | <span class="text-danger">Atividades não entregues</span>
    </p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <%@report_data[:activities].pluck(:date).uniq.each do |date|%>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-header py-1">
              <h4 class="my-1 fw-normal fs-5">
                <%= date.strftime('%d/%m/%y') unless date.nil? %>
                <% if @student.attendances.find_by(attendance_date: date).presence == false%>
                  - <span class="text-danger">Ausente</span>
                <% end %>
              </h4>
            </div>
            <div class="card-body ">
              <% @student.activities.where(date: date).each do |activity|%>
                <% if activity.late == "feito" %>
                  <p class="card-text">
                    <strong>Atividade(s):</strong> <span class='text-primary'><%=
                      activity.report
                    %></span>
                  </p>
                <% elsif activity.late == 'entregue com atraso'  %>
                  <p class="card-tex">
                    <strong>Atividade(s):</strong> <span class='text-warning'><%=
                      activity.report
                    %></span>
                  </p>
                <% else %>
                  <p class="card-text">
                    <strong>Atividade(s):</strong> <span class='text-danger'><%=
                      activity.report
                    %></span>
                  </p>
                <%end%>
              <%end%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
