<div class="d-flex justify-content-between">
  <h1 class="text-primary">Students</h1>
  <% if current_user.admin? || current_user.accounting? %>
    <%=
			link_to 'New student',
			        new_student_path,
			        class: 'btn btn-primary',
			        style: 'width:150px;height: 40px;'
             
		%>
  <% end %>
</div>
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <%if current_user.teacher? %>
        <% current_students = [] %>
        <%
					current_classrooms =
						current_user.teacher.classrooms.includes([:students])
				%>
        <%current_classrooms.each do |classroom|%>
          <% classroom.students.each do |student|%>
            <% current_students << student %>
          <% end %>
        <% end %>
        <% current_students.each do |student| %>
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-header py-1">
                <h4 class="my-1 fw-normal fs-5"><%= student.name %></h4>
              </div>
              <div class="card-body">
                <p class="card-text"></p>
                <p><strong>Status:</strong> <%= I18n.t(student.status) %></p>
                <p>
                  <% if student.current_plan&.plan&.per_class? %>
                    <strong>Aluno Particular:</strong> <%=student.current_plan.teacher.name%>
                  <% else%>
                    <%if student.classroom.nil?%>
                      'Não possui turma cadastrada'
                    <%else%>
                      <strong>Turma:</strong> <%= student.classroom.name %>
                    <% end %>
                  <% end %>
                </p>
                <%=
									link_to 'Atividades',
									        report_student_path(student),
									        class: 'btn btn-outline-primary',
									        style: 'width:110px'
								%>
                <%=
									link_to 'Detalhes',
									        student,
									        class: 'btn btn-outline-primary',
									        style: 'width:110px'
								%>
              </div>
            </div>
          </div>
        <% end %>
      <% elsif  current_user.admin? %>
        <% @students.each do |student| %>
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-header py-1">
                <h4 class="my-1 fw-normal fs-5"><%= student.name %></h4>
              </div>
              <div class="card-body">
                <p class="card-text"></p>
                <p><strong>Status:</strong> <%= I18n.t(student.status) %></p>
                <p>
                  <strong>Turma:</strong>
                  <% if student.classroom.nil? %>
                    <span class="text-danger">'Não possui turma cadastrada'</span>
                  <% else %>
                    <%= student.classroom.name %>
                  <% end %>
                </p>
                <p><% if student.current_plan.nil? %>
                    <strong>Curso:</strong>
                    <%= link_to 'Cadastrar um Curso', new_current_plan_path(student_id: student.id), class:'text-danger' %>
                  <% else %>
                    <strong>Curso:</strong>
                    <%= student.current_plan.plan.name %>
                  <%end%>
                </p>
                <%=
									link_to 'Atividades',
									        report_student_path(student),
									        class: 'btn btn-outline-primary',
									        style: 'width:110px'
								%>
                <%=
									link_to 'Frequência',
									        attendance_path(student.id),
									        class: 'btn btn-outline-primary',
									        style: 'width:110px'
								%>
                <%=
									link_to 'Detalhes',
									        student,
									        class: 'btn btn-outline-primary',
									        style: 'width:110px'
								%>
                <%=
									link_to 'Financeiro',
									        student_monthly_fees_path(student),
									        class: 'btn btn-outline-primary',
									        style: 'width:110px'
								%>
              </div>
            </div>
          </div>
        <% end %>
      <% elsif  current_user.accounting?%>
        <% @students.each do |student| %>
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-header py-1">
                <h4 class="my-1 fw-normal fs-5"><%= student.name %></h4>
              </div>
              <div class="card-body">
                <p class="card-text"></p>
                <p><strong>Status:</strong> <%= I18n.t(student.status) %></p>
                <strong>Turma:</strong>
                <% if student.classroom.nil? %>
                  <span class="text-danger">'Não possui turma cadastrada'</span>
                <% else %>
                  <%= student.classroom.name %>
                <% end %>
              </p>
              <p><% if student.current_plan.nil? %>
                  <strong>Curso:</strong>
                  <%= link_to 'Cadastrar um Curso', new_current_plan_path(student_id: student.id), class:'text-danger' %>
                <% else %>
                  <strong>Curso:</strong>
                  <%= student.current_plan.plan.name %>
                <%end%>
              </p>
              <%=
									link_to 'Detalhes',
									        student_path(student),
									        class: 'btn btn-outline-primary',
									        style: 'width:110px'
								%>
              <%=
									link_to 'Financeiro',
									        student_monthly_fees_path(student),
									        class: 'btn btn-outline-primary',
									        style: 'width:110px'
								%>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <% @students.each do |student| %>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-header py-1">
              <h4 class="my-1 fw-normal fs-5"><%= student.name %></h4>
            </div>
            <div class="card-body">
              <p class="card-text"></p>
              <p><strong>Status:</strong> <%= I18n.t(student.status) %></p>
              <p>
                <strong>Classroom:</strong> <%=
										if student.classroom.nil?
											'Não possui turma cadastrada'
										else
											student.classroom.name
										end
									%>
              </p>
              <%=
									link_to 'Show this student',
									        student,
									        class: 'btn btn-outline-primary',
									        style: 'width:200px'
								%>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<% render 'import' %>
</div>
