<% if params[:year].to_i == 2023 %>
  <%= render "student_2023" %>
<% elsif params[:year].to_i == 2024 %>
  <%= render "student_2024_1" %>
<%else %>
  <%= render @student %>
<% end %>
<div>
  <% if (current_user.default?)%>
    <%= link_to "Início", root_path,  class:'btn btn-outline-primary', style:"width:200px" %>
    <%= link_to 'Relatório atual', report_student_path(@student), class:'btn btn-outline-primary', style:"width:200px" %>
    <%= link_to 'Relatório 2024/1', report_student_path(@student, year: 2024), class:'btn btn-outline-primary', style:"width:200px" %>
  <% else %>
    <%= link_to 'Relatório 2024/1', report_student_path(@student, year: 2024), class:'btn btn-outline-primary', style:"width:200px" %>
    <%= link_to 'Relatórios Escritos', student_resumes_path(@student), class:'btn btn-outline-primary', style:"width:200px" %>
    <%= link_to "Details", student_path(@student), class:'btn btn-outline-primary', style:"width:200px" %>
    <%= link_to "Back to students", students_path,  class:'btn btn-outline-primary', style:"width:200px" %>
    <% if current_user.admin?%>
      <% button_to "Destroy this student", @student, method: :delete,  form: { data: { turbo_confirm: 'Are you sure?' } }, class:'btn btn-danger mt-4', style:"width:200px" %>
    <% end %>
  <% end%>
</div>