<div id="<%= dom_id @student %>"></div>
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row g-5 py-5">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3"><%= @student.name%></h1>
      <% if @student.current_plan&.plan&.per_class?%>
        <%= render 'details_private' %>
      <% else %>
        <%= render 'details' %>
      <% end %>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <%= link_to "Editar Aluno", edit_student_path(@student), class:'btn btn-outline-primary', style:"width:150px" %>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      </div>
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <% if current_user.admin? || current_user.accounting? %>
        <div class='mb-5'>
          <div>
            <% if @student.responsibles.any? %>
              <h3  class="mt-5">Responsável Financeiro:</h3>
              <ul>
                <% @student.responsibles.each do |fr| %>
                  <h4><strong><%= fr.financial_responsible.name %></strong></h4>
                  <li><strong>Telefone:</strong> <%= fr.financial_responsible.phone %></li>
                  <li><strong>Email:</strong> <%= fr.financial_responsible.email %></li>
                  <%= link_to 'Detalhes', financial_responsible_path(fr.financial_responsible.id) %>
                  <hr>
                <% end %>
              </ul>
            <% else %>
              <h3> Não existe responsável financeiro cadastrado. </h3>
            <% end %>
          </div>
          <%= link_to 'Criar Responsável', new_financial_responsible_path(student_id: @student.id), class: 'btn btn-outline-primary' %>
          <br>
          <%= link_to 'Vincular Responsável Existente', new_responsible_path(student_id: @student.id), class: 'btn btn-outline-primary my-2',  data: { turbo: false } %>
        </div>
        <div class='mb-3'>
          <h3>Cobranças extras</h3>
          <table class="fs-9 mb-0 border-top border-translucent table">
            <thead>
              <tr>
                <th style="width: 5%">Detalhe</th>
                <th style="width: 10%">Valor</th>
                <th style="width: 10%">Data</th>
                <th style="width: 10%">Status</th>
              </tr>
            </thead>
            <tbody>
              <% @student.material_billings.each do |mb| %>
                <tr>
                  <td><%= link_to mb.name, edit_material_billing_path(mb) %></td>
                  <td><%= number_to_currency(mb.value) %></td>
                  <td><%= mb.date.strftime("%d/%m/%y") %></td>
                  <td><%= mb.status %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= link_to "Nova cobrança", new_material_billing_path(student_id: @student.id), class: 'btn btn-outline-primary' %>
          <%= link_to 'Ver todas as cobranças', user_material_billing_path(student_id: @student.id), class: 'btn btn-outline-primary' %>
        </div>
        <div class='mb-5'>
          <h3>Mensalidades</h3>
          <table class="fs-9 mb-0 border-top border-translucent table">
            <thead>
              <tr>
                <th style="width: 10%">Valor</th>
                <th style="width: 10%">Vencimento</th>
                <th style="width: 10%">Status</th>
                <th style="width: 5%"></th>
              </tr>
            </thead>
            <tbody>
              <% @student.monthly_fees.each do |monthly_fee| %>
                <tr>
                  <td><%= number_to_currency(monthly_fee.value) %></td>
                  <td><%= monthly_fee.due_date.strftime("%d/%m/%Y") %></td>
                  <% if monthly_fee.status == 'Pago'   %>
                    <td style="color: #0d6efd"><%= monthly_fee.status %></td>
                  <% elsif monthly_fee.status == 'Pagamento em atraso' %>
                    <td  style="color: #dc3545"><%= monthly_fee.status %></td>
                  <% else %>
                    <td  style="color: #6c757d"><%= monthly_fee.status %></td>
                  <% end %>
                  <td><%= link_to 'Editar', edit_student_monthly_fee_path(monthly_fee.student, monthly_fee) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% if current_user.admin? || current_user.accounting? %>
            <%= link_to "Cadastrar Mensalidade", new_student_monthly_fee_path(@student), class:'btn btn-outline-primary', style:"width:150px" %>
          <% end %>
          <%= link_to 'Ver todas as mensalidades', student_monthly_fees_path(@student), class:'btn btn-outline-primary', style:"width:150px" %>
        </div>
        <div>
          <h3>Endereços</h3>
          <% @student.addresses.each do |address| %>
            <dt>Rua: </dt>
            <dd><%=address.street%></dd>
            <dt>Número: </dt>
            <dd><%=address.number%></dd>
            <dt>Complemento: </dt>
            <dd><%=address.unit%></dd>
            <dt>Bairro: </dt>
            <dd><%=address.neighborhood%></dd>
            <dt>Cidade: </dt>
            <dd><%=address.city%></dd>
            <dt>Estado: </dt>
            <dd><%=address.state%></dd>
            <dt>CEP: </dt>
            <dd><%=address.zip_code%></dd>
            <dt>País: </dt>
            <dd><%=address.country%></dd>
            <%= link_to 'Editar Endereço', edit_student_address_path(@student, address), class: 'btn btn-outline-primary', style: 'width:150px' %>
          <% end %>
          <%= link_to 'Cadastrar Endereço', new_student_address_path(@student), class:'btn btn-outline-primary', style:"width:200px" %>
        </div>
      </div>
    <%end%>
  </div>
</div>
