<%= render @student %>
<div>
  <% if (current_user.student?)%>
    <%= link_to "Início", root_path,  class:'btn btn-outline-primary', style:"width:200px" %>
  <% else %>
    <%= link_to 'Relatório', student_resumes_path(@student), class:'btn btn-outline-primary', style:"width:200px" %>
    <%= link_to "Edit this student", edit_student_path(@student), class:'btn btn-outline-primary', style:"width:200px" %> |
    <%= link_to "Back to students", students_path,  class:'btn btn-outline-primary', style:"width:200px" %>
    <%= link_to 'Endereço', student_address_path(@student), class:'btn btn-outline-primary', style:"width:200px" %>
    <% if current_user.admin?%>
      <%= button_to "Destroy this student", @student, method: :delete,  form: { data: { turbo_confirm: 'Are you sure?' } }, class:'btn btn-danger mt-4', style:"width:200px" %>
    <% end %>
  <% end%>
</div>
