<div id="<%= dom_id material_billing %>">
  <p>
    <strong>Name:</strong>
    <%= material_billing.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= material_billing.status %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= material_billing.student_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= material_billing.date %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= material_billing.value %>
  </p>

</div>
