<h1 class="text-primary">
  <% if (current_user.student?)%>
    Listagem de alunos
  <% elsif (current_user.teacher?)%>
    Listagem de turmas de <%= current_user.teacher.name%>
  <% else %>
    Listagem de turmas
  <% end %>
</h1>
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% if (current_user.student?)%>
        <% if current_user.cpf == nil%>
          <p>Sem alunos para mostrar.</p>
        <% else %>
          <% new_students = Student.where(cpf: current_user.cpf)%>
          <% new_students.each do |student| %>
            <div class="col">
              <div class="card shadow-sm">
                <div class="card-header py-1">
                  <h4 class="my-1 fw-normal fs-5">
                    <strong><%= student.name%></strong>
                  </h4>
                </div>
                <div class="card-body">
                  <p class="card-text">
                  </p>
                  <h5 class="text-secondary fs-5">
                    Teacher: <%= Teacher.find_by(id: student.classroom.teacher_id).name %></h5>
                  Turma: <%= student.classroom.name%></h5>
              </p>
              <%= link_to ' Ver Atividades ', student_path(student) ,class:'btn btn-outline-primary', style:"width:200px" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% elsif (current_user.teacher?) %>
    <% current_classrooms = current_user.teacher.classrooms%>
    <% current_classrooms.each do |classroom|%>
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-header py-1">
            <h4 class="my-1 fw-normal fs-5">
              <%= link_to  classroom.name, classroom_path(classroom.id), class:'text-decoration-none link-primary'  %>
            </h4>
          </div>
          <div class="card-body">
            <h5 class="text-secondary fs-5"><%= Teacher.find_by(id: classroom.teacher_id).name %></h5>
            <% students = classroom.students.where(status: 'Matriculado')%>
            <%students.each do |student| %>
              <div class='d-flex justify-content-between'>
                <div class='ps-1 '>
                  <%= student.name%>
                </div>
                <div>
                  <%= link_to student, class:'text-decoration-none', alt: "Atividade do aluno" do %>
                    <i class="fa-solid fa-list-check pe-2"  style="color: #0d6efd;" alt="Atividades"></i>
                  <% end %>
                  <% link_to info_student_path(student), alt: "Detalhes do aluno" do %>
                    <i class="fa-solid fa-user" style="color: #0d6efd;" ></i>
                  <% end %>
                </div>
              </div>
              <hr  class="border-1 my-2 opacity-25 text-secondary">
            <% end%>
            <%= link_to  'Enter Classroom', classroom_path(classroom.id), class:'btn btn-outline-primary'  %>
          </div>
        </div>
      </div>
    <%end%>
  <% elsif current_user.accounting? %>
    <% @classrooms.each do |classroom|%>
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-header py-1">
            <h4 class="my-1 fw-normal fs-5">
              <%= link_to  classroom.name, classroom_path(classroom.id), class:'text-decoration-none link-primary'  %>
            </h4>
          </div>
          <div class="card-body">
            <h5 class="text-secondary fs-5"><%= Teacher.find_by(id: classroom.teacher_id).name %></h5>
            <% students = classroom.students.where(status: 'Matriculado')%>
            <%students.each do |student| %>
              <div class='d-flex justify-content-between'>
                <div class='ps-1 '>
                  <%= student.name%>
                </div>
                <div>
                  <%= link_to student, class:'text-decoration-none', alt: "Atividade do aluno" do %>
                    <i class="fa-solid fa-list-check pe-2"  style="color: #0d6efd; "></i>
                  <% end %>
                  <%= link_to info_student_path(student), alt: "Detalhes do aluno" do %>
                    <i class="fa-solid fa-user" style="color: #0d6efd;"></i>
                  <% end %>
                </div>
              </div>
              <hr  class="border-1 my-2 opacity-25 text-secondary">
            <% end%>
            <%= link_to  'Enter Classroom', classroom_path(classroom.id), class:'btn btn-outline-primary'  %>
          </div>
        </div>
      </div>
    <%end%>
  <% elsif current_user.admin? %>
    <% @classrooms.each do |classroom|%>
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-header py-1">
            <h4 class="my-1 fw-normal fs-5">
              <%= link_to  classroom.name, classroom_path(classroom.id), class:'text-decoration-none link-primary'  %>
            </h4>
          </div>
          <div class="card-body">
            <h5 class="text-secondary fs-5"><%= Teacher.find_by(id: classroom.teacher_id).name %></h5>
            <% students = classroom.students.where(status: 'Matriculado')%>
            <%students.each do |student| %>
              <div class='d-flex justify-content-between'>
                <div class='ps-1 '>
                  <%= student.name%>
                </div>
                <div>
                  <%= link_to student, class:'text-decoration-none', alt: "Atividade do aluno" do %>
                    <i class="fa-solid fa-list-check pe-2"  style="color: #0d6efd;" ></i>
                  <% end %>
                  <%= link_to info_student_path(student), id:'details', alt: "Detalhes do aluno" do %>
                    <i class="fa-solid fa-user" style="color: #0d6efd;"></i>
                  <% end %>
                </div>
              </div>
              <hr  class="border-1 my-2 opacity-25 text-secondary">
            <% end%>
            <%= link_to  'Enter Classroom', classroom_path(classroom.id), class:'btn btn-outline-primary'  %>
          </div>
        </div>
      </div>
    <%end%>
  <% end %>
</div>
</div>
</div>
