<% current_year = Time.zone.today.year %>
<% months = %w[janeiro fevereiro março abril maio junho julho agosto setembro outubro novembro dezembro] %>
<%
  statuses = {
    'Paga' => {
      text: 'Paga',
      css_class: 'btn btn-outline-success btn-sm',
    },
    'A pagar' => {
      text: 'Aberto',
      css_class: 'btn btn-outline-secondary btn-sm',
    },
    'Atrasada' => {
      text: 'Atraso',
      css_class: 'btn btn-outline-danger btn-sm',
    },
  }
%>
<%
    color_statuses = {
    'Paga' => { text: 'Paga', style: 'background-color:rgb(138, 233, 138)' },
    'A pagar' => { text: 'A pagar', style: 'color:rgb(37, 37, 37); background-color:rgb(255, 255, 255)' },
    'Atrasada' => { text: 'Atrasada', style: 'background-color:rgb(236, 160, 167)' },
    }
%>
<h1>Mensalidades de 2025</h1>
<%=
        link_to "Ver mensalidades do semestre",
             monthly_fees_path,
            class: 'btn btn-outline-primary mb-2'
    %>
<%=
        link_to "Mensalidades Atrasadas",
             monthly_fees_path(status: 'Atrasada'),
            class: 'btn btn-outline-primary mb-2'
    %>
<%=
        link_to "Ver todas as Mensalidades",
            monthly_fees_path(year: (current_year)),
            class: 'btn btn-outline-primary mb-2'
    %>
<div>
  <div class="mb-2" data-controller="filter">
    <input
      class="form-control"
      id="myInput"
      type="text"
      placeholder="Digite o nome, email ou telefone do responsável para filtrar..."
      data-filter-target="input"
    />
    <table class="fs-9 mb-0 border-top border-translucent table list-group-item">
      <thead>
        <tr>
          <th style="width: 27%">Nome</th>
          <th style="width: 3%; text-align: center;">Turma</th>
          <th style="width: 5%; text-align: center;">Extra</th>
          <th style="width: 5%; text-align: center;">Jan</th>
          <th style="width: 5%; text-align: center;">Fev</th>
          <th style="width: 5%; text-align: center;">Mar</th>
          <th style="width: 5%; text-align: center;">Abr</th>
          <th style="width: 5%; text-align: center;">Mai</th>
          <th style="width: 5%; text-align: center;">Jun</th>
          <th style="width: 5%; text-align: center;">Jul</th>
          <th style="width: 5%; text-align: center;">Ago</th>
          <th style="width: 5%; text-align: center;">Set</th>
          <th style="width: 5%; text-align: center;">Out</th>
          <th style="width: 5%; text-align: center;">Nov</th>
          <th style="width: 5%; text-align: center;">Dez</th>
        </tr>
      </thead>
      <tbody>
        
        <% @students.each do |student| %>
            <tr data-filter-target="row">
                <td style="vertical-align: middle;">
                <strong>
                    <%= link_to student.name, student_path(student), class:'link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover', title:"Ver detalhes do aluno" %>
                </strong> - <%= student.cpf %>
                <p class="font-weight-light mb-0 fs-6 fw-light">
                    <% student.financial_responsibles.each do |responsible| %>
                    <%= responsible.name %> - <%= responsible.cpf %><br>
                    <% end %>
                </p>
                </td>
                <td class="font-weight-light mb-0 fs-6 fw-light text-center">
                  <% if student.plan.per_class?  %>
                    <span class="badge bg-secondary">Aluno Particular</span>
                    <% else %>
                     <span class="badge bg-secondary"><%= student.classroom&.name || "Turma não cadastrada" %></span>
                  <% end %>
               
                </td>
                <td class="font-weight-light mb-0 fs-6 fw-light text-center">
                  <% billing = @material_billings[student.id]&.last %>
                    <% if billing %>
                      <%= link_to billing.name, edit_material_billing_path(billing) %>
                    <% else %>
                      <%= link_to "Nova cobrança", new_material_billing_path(student_id: student.id) %>
                    <% end %>
                </td>
                <% months.each_with_index do |month, index| %>
                <% date = Date.new(Date.today.year, index + 1, 1) << 1%>
                    <% monthly_fee = student.monthly_fees_by_month[month] %>
                    <% if monthly_fee %>
                        <% color_status = color_statuses[monthly_fee.status] %>
                        <td style="<%= color_status[:style] %>" class="text-center">
                            <% if student.plan.monthly? %>
                                <%= link_to number_to_currency(monthly_fee.value, unit: ""), student_monthly_fee_path(monthly_fee.student, monthly_fee) %>
                            <% elsif student.plan.per_class?%>
                                <% if index <= 5 %>
                                <%= link_to number_to_currency(monthly_fee.value, unit: ""), student_monthly_fee_path(monthly_fee.student, monthly_fee) %>
                                 <% else %>
                                 <%= link_to number_to_currency(student.get_private_classes(date), unit: ""), student_monthly_fee_path(monthly_fee.student, monthly_fee) %> 
                                 <% end %>
                            <% elsif student.plan.both?%>
                             <% if index <= 5 %>
                                <%= link_to number_to_currency(monthly_fee.value, unit: ""), student_monthly_fee_path(monthly_fee.student, monthly_fee) %>
                                <% else %>
                            <% private_class_value = @private_class_totals[[student.id, date.beginning_of_month]] || 0 %>
                                <% total_price = monthly_fee.student.current_plan.discount ? (monthly_fee.student.current_plan.plan.price - monthly_fee.student.current_plan.discount ) : monthly_fee.student.current_plan.plan.price%>
                                <%= link_to number_to_currency(total_price, unit: ""), student_monthly_fee_path(monthly_fee.student, monthly_fee) %> + 
                                <%= link_to number_to_currency(private_class_value, unit: ""), student_monthly_fee_path(monthly_fee.student, monthly_fee) %>
                            <% end %>
                            <%end %>
                            <p style="white-space: nowrap;" class="mb-1">
                                <%= monthly_fee.status == 'Paga' && monthly_fee.payment_date.present? ? monthly_fee.payment_date.strftime('%d/%m') : monthly_fee.status %>
                            </p>
                            <div class='d-flex justify-content-around'>
                                <%= button_to update_paid_path(items: { id: monthly_fee.id, status: 'Paga' }),
                                    method: :patch,
                                    class: 'btn btn-outline-success btn-sm',
                                    style: "--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .70rem;" do %>
                                    <i class="fa-solid fa-circle-check"></i>
                                <% end %>
                                <%= button_to update_paid_path(items: { id: monthly_fee.id, status: 'Atrasada' }),
                                    method: :patch,
                                    class: 'btn btn-outline-danger btn-sm',
                                    style: "--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .70rem;" do %>
                                    <i class="fa-solid fa-ban"></i>
                                <% end %>
                            </div>
                        </td>
                    <% else %>
                        <td style="text-align: center; font-size: .75rem; vertical-align: middle; color:rgb(122, 122, 122);">-</td>
                    <% end %>
                <% end %>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

