<% current_year = Time.zone.today.year %>
<% months = %w[fevereiro março abril maio junho julho agosto setembro outubro novembro dezembro ]%>
<%
  statuses = {
    'Paga' => {
      text: 'Paga',
      css_class: 'btn btn-outline-success btn-sm',
    },
    'A pagar' => {
      text: 'Aberto',
      css_class: 'btn btn-outline-secondary btn-sm',
    },
    'Atrasada' => {
      text: 'Atraso',
      css_class: 'btn btn-outline-danger btn-sm',
    }
  }
%>
<%
    color_statuses = {
    'Paga' => { text: 'Paga', style: 'background-color:rgb(138, 233, 138)' },
    'A pagar' => { text: 'A pagar', style: 'color:rgb(37, 37, 37); background-color:rgb(255, 255, 255)' },
    'Atrasada' => { text: 'Atrasada', style: 'background-color:rgb(236, 160, 167)' },
    }
%>
<% type_of_classes = {
  'classroom' => {text: 'Turmas'},
  'private' => {text: 'Aulas Particulares'},
  'both' => {text: 'Turmas e Particulares'}
  }
  %>
<% type_of_class = type_of_classes[params[:type]] %>
<h1>Mensalidades de 2025 - <%= type_of_class[:text] %></h1>
<%=
        link_to "Mensalidades alunos turma",
             monthly_fees_new_index_path(type: 'classroom'),
            class: 'btn btn-outline-primary mb-2'
    %>
<%=
        link_to "Mensalidades alunos particulares",
            monthly_fees_new_index_path(type: 'private'),
            class: 'btn btn-outline-primary mb-2'
    %>
<%=
        link_to "Mensalidades alunos particulares e de turma",
            monthly_fees_new_index_path(type: 'both'),
            class: 'btn btn-outline-primary mb-2'
    %>
<div>
  <div class="mb-2" data-controller="filter">
    <input
      class="form-control"
      id="myInput"
      type="text"
      placeholder="Digite o nome, email ou telefone do responsável para filtrar..."
      data-filter-target="input"
    >
      <table class="fs-9 mb-0 border-top border-translucent table list-group-item">
        <thead>
          <tr>
            <th style="width: 27%">Nome</th>
            <% months.each do |month| %>
              <th style="width: 5%; text-align: center;"><%= month %></th>
            <% end %>
          </tr>
        </thead>
        <% if params[:type] == 'classroom'%>
          <%= render 'students_monthly', months: months, color_statuses: color_statuses %>
        <% else %>
          <%= render 'students', months: months, color_statuses: color_statuses %>
        <% end %>
      </table>
    </div>
  </div>
