<table class="fs-9 mb-0 border-top border-translucent table list-group-item">
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.classroom&.name || "Sem turma" %></td>
        <td><%= student.plan&.name %></td>
        <td>
          <% student.financial_responsibles.each do |responsible| %>
            <div><%= responsible.name %> - <%= responsible.cpf %></div>
          <% end %>
        </td>
        <td>
          <ul>
            <% student.monthly_fees_for_year(2025).each do |fee| %>
              <li>
                <% if student.plan&.monthly? %>
                  <%= l(fee.due_date) %> - 
                  <strong><%= link_to number_to_currency(fee.value), student_monthly_fee_path(fee.student, fee) %></strong> - <%= fee.status %>
                <% else %>
                  <%= l(fee.due_date) %> - 
                  <strong><%= link_to number_to_currency(fee.calculate_payment_value), student_monthly_fee_path(fee.student, fee) %></strong> - <%= fee.status %>
                <% end %>
                <div class='d-flex justify-content-around'>
                  <%= button_to update_paid_path(items: { id: fee.id, status: 'Paga' }),
                                            method: :patch,
                                            class: 'btn btn-outline-success btn-sm d-none',
                                            style: "--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .70rem;" do %>
                    <button type="submit"
                                        data-controller="payment"
                                        data-action="click->payment#mostrarPromptEEnviar"
                      data-payment-fee-value="<%= number_to_currency(student.get_private_classes(fee.due_date), unit: "") %>"
                      data-payment-billing-type-value="<%= fee.student.current_plan.plan.billing_type %>"
                      data-payment-monthly-value="<%= fee.value %>">
                      <i class="fa-solid fa-circle-check"></i>
                    </button>
                  <% end %>
                  <%= button_to update_paid_path(items: { id: fee.id, status: 'Atrasada' }),
                                method: :patch,
                                class: 'btn btn-outline-danger btn-sm',
                                style: "--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .70rem;" do %>
                    <i class="fa-solid fa-ban"></i>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
