<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<h1>Mensalidades a vencer ou atrasadas</h1>
<div>
  <input class="form-control" id="myInput" type="text" placeholder="Digite o nome, email ou telefone do responsável para filtrar..." />
</div>
<div class="d-flex flex-row p-2">
  <div class="col-md-5 col-sm-12 px-2">Nome</div>
  <div class="col-md-1 col-sm-4 text-center">Turma</div>
  <div class="col-md-1 col-sm-12 text-center">Valor</div>
  <div class="col-md-1 col-sm-12 text-center">Vencimento</div>
  <div class="col-md-1 col-sm-12 text-center">Status</div>
  <div class="col-md-1 col-sm-12 text-center">Referente</div>
  <div class="col-md-2 col-sm-12 text-center">Ação</div>
</div>
<ul class="list-group" id="myList">
  <% @monthly_fees.each do |monthly_fee| %>
    <li class="list-group-item">
      <div class="row align-items-center">
        <div class="col-md-5 col-sm-12">
          <strong><%= link_to monthly_fee.student.name, student_path(monthly_fee.student), class:'link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover', title:"Ver detalhes do aluno" %></strong> - <%= monthly_fee.student.cpf %>
          <p class="font-weight-light mb-0 fs-6 fw-light">
            <% monthly_fee.student.financial_responsibles.each do |responsible| %>
              <%= responsible.first_name %> - <%= responsible.cpf %>
            <% end %>
          </p>
        </div>
        <div class="col-md-1 col-sm-4 text-center"><% if monthly_fee.student&.classroom %>
            <%= link_to monthly_fee.student.classroom.name, 
              show_details_classroom_path(monthly_fee.student.classroom), 
              class: 'link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover', 
              title: "Ver detalhes da turma" %>
          <% else %>
            Turma não cadastrada
          <% end %>
        </div>
        <div class="col-md-1 col-sm-4 text-center"><%= link_to  number_to_currency(monthly_fee.value, unit: 'R$ ', separator: ',', delimiter: '.', precision: 2), student_monthly_fee_path(monthly_fee.student, monthly_fee), class:'link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover', title:"Ver detalhes da mensalidade" %>
        </div>
        <div class="col-md-1 col-sm-4 text-center"><%= monthly_fee.due_date.strftime('%d/%m/%y') %></div>
        <div class="col-md-1 col-sm-4 text-center" style="<%= monthly_fee.status_color %>;">
          <strong><%= monthly_fee.status %></strong>
        </div>
        <div class="col-md-1 col-sm-4 text-center"><%= I18n.l(monthly_fee.due_date, format: :short_month) %> / <%= monthly_fee.due_date_year %></div>
        <div class="col-md-2 col-sm-12 text-center d-flex justify-content-center">
          <% statuses.each do |status, config| %>
            <% next if monthly_fee.status == status %>
            <%= button_to config[:text],
                update_paid_path(items: { id: monthly_fee.id, status: status }),
                method: :patch,
                class: config[:css_class] %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
<script>
  $(document).ready(function () {
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myList li").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    });
  });
</script>