<div id="<%= dom_id current_plan %>">
  <p>
    <strong>Aluno:</strong>
    <%= current_plan.student.name %>
  </p>
  <p>
    <strong>Curso:</strong>
    <%= current_plan.plan.name %>
  </p>
  <p>
    <strong>Desconto:</strong>
    <%= current_plan.has_discount ? 'Desconto cadastrado' : 'Sem desconto' %>
  </p>
  <p>
    <strong>Valor do desconto:</strong>
    <%= current_plan.discount ? "R$ #{current_plan.discount},00" : 'Sem desconto'%>
  </p>
  <p>
    <strong>Valor do Curso:</strong>
    <%= number_to_currency(current_plan.plan.price) %>
  </p>
  <p>
    <strong>Valor total:</strong>
    <%= number_to_currency(current_plan.total) %>
  </p>
</div>
