<%= form_with(model: current_plan, data: { turbo: false }) do |form| %>
  <% if current_plan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(current_plan.errors.count, "error") %> prohibited this current_plan from being saved:</h2>
      <ul>
        <% current_plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :plan_id, style: "display: block" %>
    <%=
      form.collection_select(
        :plan_id,
        Plan.all,
        :id,
        :name,
        { prompt: 'Selecione um plano' },
        class: 'form-select',
      )
    %>
  </div>
  <div>
    <%= form.label :has_discount, style: "display: block" %>
    <%= form.check_box :has_discount %>
  </div>
  <div>
    <%= form.label :discount, style: "display: block" %>
    <%= form.number_field :discount %>
  </div>
  <div class="mb-3">
    <%= form.label :teacher_id, class: 'form-label' %>
    <%=
      form.collection_select :teacher_id,
                             Teacher.all,
                             :id,
                             :name,
                             { prompt: 'Selecione um professor(a)' },
                             class: 'form-select'
    %><br />
  </div>
  <div>
    <%= form.label :student_id, style: "display: block" %>
    <%
      form.collection_select(
        :student_id,
        Student.all,
        :id,
        :name,
        { prompt: 'Select a student' },
        class: 'form-select',
        disabled: !@current_plan.new_record?
      )
    %>
    <%= form.select :student_id, 
                Student.order(:name).map { |student| [student.name, student.id] }, 
                { prompt: "Selecione um aluno" }, 
                { class: "form-select select2 " } %>
  </div>
  <div>
    <%= form.submit class: 'btn btn-primary mt-3' %>
  </div>
<% end %>
<script>
  document.addEventListener("turbo:load", function() {
       $( '.select2' ).select2( {
       theme: "bootstrap-5",
       width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
       placeholder: $( this ).data( 'placeholder' ),
   } );
   });
</script>
