<%= form_with(model: current_plan) do |form| %>
  <% if current_plan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(current_plan.errors.count, "error") %> prohibited this current_plan from being saved:</h2>

      <ul>
        <% current_plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :plan_id, style: "display: block" %>
    <%=
      form.collection_select(
        :plan_id,
        Plan.all,
        :id,
        :name,
        { prompt: 'Selecione um plano' },
        class: 'form-select',
      )
    %>
  </div>

  <div>
    <%= form.label :has_discount, style: "display: block" %>
    <%= form.check_box :has_discount %>
  </div>

  <div>
    <%= form.label :discount, style: "display: block" %>
    <%= form.number_field :discount %>
  </div>

  <div>
    <%= form.label :student_id, style: "display: block" %>
    <%=
      form.collection_select(
        :student_id,
        Student.all,
        :id,
        :name,
        { prompt: 'Select a student' },
        class: 'form-select',
      )
    %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
