<p style="color: green"><%= notice %></p>
<h1>Alunos sem plano</h1>
<div id="students_without_student">
  <% @students_without_current_plan.each do |student| %>
    <div id="<%= dom_id student %>" class="d-flex align-items-center justify-content-between border p-2 mb-2">
      <!-- Nome do aluno -->
      <p class="mb-0">
        <strong>Aluno:</strong>
        <%= link_to student.name, student %>
      </p>
      <!-- Curso do aluno -->
      <p class="mb-0">
        <strong>Curso:</strong>
        <%= student.current_plan ? student.current_plan.plan.name : "Não tem plano" %>
      </p>
      <!-- Botões -->
      <div class="d-flex gap-2">
        <%= button_to 'Linkar Kids', current_plans_path(current_plan: { student_id: student.id, plan_id: 1, has_discount: false, discount: nil }), 
                      method: :post, class: 'btn btn-outline-success btn-sm' %>
        <%= button_to 'Linkar Adults', new_current_plan_path(plan_id: 3), 
                      method: :post, class: 'btn btn-outline-success btn-sm' %>
        <%= button_to 'Linkar Private', new_current_plan_path(plan_id: 4), 
                      method: :post, class: 'btn btn-outline-success btn-sm' %>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "New current plan", new_student_path, class: "btn btn-primary mt-3" %>
