<p style="color: green"><%= notice %></p>

<%= render @current_plan %>

<div>
  <%= link_to "Edit this current plan", edit_current_plan_path(@current_plan) %> |
  <%= link_to "Back to current plans", current_plans_path %>

  <%= button_to "Destroy this current plan", @current_plan, method: :delete %>
</div>
