<%= form_with(model: teacher) do |form| %>
  <% if teacher.errors.any? %>
    <div style="color: red">
      <h2>
        <%= pluralize(teacher.errors.count, 'error') %> prohibited this teacher
        from being saved:
      </h2>
      <ul>
        <% teacher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :cpf, class: 'form-label' %>
    <%= form.text_field :cpf, id: 'cpf', class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :user_id, class: 'form-label' %>
    <%=
      form.collection_select(
        :user_id,
        User.all,
        :id,
        :email,
        { prompt: 'Select a user' },
        class: 'form-select',
      )
    %>
  </div>
  <div class="mb-3">
    <%= form.label :status, class: 'form-label' %>
    <%=
      form.select :status,
                  options_for_select(
                    Teacher.statuses.map { |key, value|
                      [key.titleize, Teacher.statuses.key(value)]
                    },
                    @teacher.status,
                  ),
                  { prompt: 'Selecione um status' },
                  class: 'form-select'
    %>
  </div>
  <div class="mb-3">
    <%= form.label :cel_phone, class: 'form-label' %>
    <%= form.text_field :cel_phone, id: 'cel_phone', class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :phone, class: 'form-label' %>
    <%= form.text_field :phone, id: 'phone', class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.submit class: 'btn btn-primary mt-4' %>
  </div>
<% end %>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script>
  document.getElementById("cpf").addEventListener("input", function (e) {
    x = e.target.value
      .replace(/\D/g, "")
      .match(/(\d{0,3})(\d{0,3})(\d{0,3})(\d{0,2})/);
    e.target.value = !x[2]
      ? x[1]
      : x[1] + "." + x[2] + (x[3] ? "." : "") + x[3] + (x[4] ? "-" + x[4] : "");
    let valor = e.target.value.replace(/[^0-9]/g, "");
  });
  $(document).ready(function () {
    $("#cel_phone").mask("(99) 99999-9999");
  });
  $(document).ready(function () {
    $("#phone").mask("(99) 9999-9999");
  });
</script>
