<h1>Endereços</h1>
  <% @addresses.each do |address|%>
    <% if address.addressable_type == "Student" %>
      <% student = address.addressable %>
      <h3>Aluno(a): <%= student.name %></h3>
      <h4>Turma: <%= student.classroom.name %></h4>
       <p><%= address.street %> <%= address.number %>, <%= address.unit %> - <%= address.neighborhood %> <%= address.city %> - <%= address.zip_code %> - <%= address.country %></p>
    <% else %>
      <% teacher = address.addressable %>
      <h3>Professor(a): <%= teacher.name%></h3>
       <p><%= address.street %> <%= address.number %>, <%= address.unit %> - <%= address.neighborhood %> <%= address.city %> - <%= address.zip_code %> - <%= address.country %></p>
    <% end %>
<% end %>
