<h1>Endereços</h1>
<div class=''>
  <table class="fs-9 mb-0 border-top border-translucent table">
    <thead>
      <tr>
        <th style="width: 20%;">Nome</th>
        <th style="width: 10%;">Turma</th>
        <th style="width: 19%;">Rua</th>
        <th style="width: 10%;">Bairro</th>
        <th style="width: 10%;">Núm./Apt.</th>
        <th style="width: 10%;">Cidade</th>
        <th style="width: 5%;">UF</th>
        <th style="width: 10%;">CEP</th>
        <th style="width: 10%;">País</th>
        <th style="width: 1%;"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
       <% @addresses.each do |address|%>
    <% if address.addressable_type == "Student" %>
      <% student = address.addressable %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.classroom.nil? ? 'Não possui turma cadastrada' : student.classroom.name %></td>
        <td><%= address.street %></td>
        <td><%= address.neighborhood %></td>
        <td><%= address.number %> / <%= address.unit %></td>
  
        <td><%= address.city %></td>
        <td><%= address.state %></td>
        <td><%= address.zip_code %><t/d>
        <td><%= address.country %></td>
        <td> <%= link_to edit_student_address_path(student, address) do %>
          <i class="fa-regular fa-pen-to-square"  style="color: #0d6efd;"  alt= 'Editar'></i></td>
        <% end %>
      </tr>
      
    <% end %>
  <% end %>
      </tr>
    </tbody>
  </table>
</div>