<h1>Novo Endereço de <%= @student.name%></h1>
<h2><%= @student.classroom.name%></h2>
<%= form_with(model: [@student, @address]) do |form| %>
  <% if @address.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>
      <ul>
        <% @address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        </ul>
      <% end %>
    </div>
  <% end %>
  <div>
    <%= form.label :street, style: "display: block" %>
    <%= form.text_field :street %>
  </div>
  <div>
    <%= form.label :number, style: "display: block" %>
    <%= form.text_field :number %>
  </div>
  <div>
    <%= form.label :unit, style: "display: block" %>
    <%= form.text_field :unit %>
  </div>
  <div>
    <%= form.label :neighborhood, style: "display: block" %>
    <%= form.text_field :neighborhood %>
  </div>
  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>
  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>
  <div>
    <%= form.label :country, style: "display: block" %>
    <%= form.text_field :country %>
  </div>
  <div>
    <%= form.label :zip_code, style: "display: block" %>
    <%= form.text_field :zip_code %>
  </div>
  <div>
    <%= form.submit class:'btn btn-primary mt-4'  %>
  </div>
<% end %>
<div>
  <%= link_to "Back to Addresses", student_addresses_path, class:'btn btn-outline-primary', style:"width:200px" %>
</div>
