<h1 class="text-primary">Listagem de turmas - Usuário Accounting</h1>
Total de alunos matriculados: <%= @students.count %>

<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @classrooms.each do |classroom|%>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-header py-1">
              <h4 class="my-1 fw-normal fs-5">
                <strong><%= classroom.name %> </strong>
                <span class="fs-6"
                  >- Alunos: <%= classroom.students.length %></span>
              </h4>
            </div>
            <div class="card-body">
              <h5 class="text-secondary fs-5">
                <%= Teacher.find_by(id: classroom.teacher_id).name %>
              </h5>
              <% students = classroom.students.where(status: :registered) %>
              <%students.each do |student| %>
                <div class="d-flex justify-content-between">
                  <div class="ps-1 ">
                    <%= student.name %>
                  </div>
                  <div>
                    <%=
                      link_to 'Detalhes',
                              student_path(student),
                              class: ' btn-sm btn btn-outline-primary small',
                              style: 'width:110px; height:30px;'
                    %>
                  </div>
                </div>
                <hr class="border-1 my-2 opacity-25 text-secondary" />
              <% end%>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
