<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <!-- Content Row -->
        <div class="row">
          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="fw-bold text-primary text-uppercase mb-1">
                      Recebimentos (Mensais)</div>
                    <div class="h5 mb-0 fw-bold"><%= number_to_currency(@total_month, unit: 'R$', separator: ',', delimiter: '.') %></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-hand-holding-dollar fa-2x text-secondary opacity-50"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="fw-bold text-success text-uppercase mb-1">
                      Recebimentos (Anual)</div>
                    <div class="h5 mb-0 fw-bold"><%= number_to_currency(@total_anual, unit: 'R$', separator: ',', delimiter: '.') %></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-secondary opacity-50"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="fw-bold text-danger text-uppercase mb-1">Inadimplencia (<%= Time.zone.today.strftime("%B")%>)
                    </div>
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <div class="h5 mb-0 mr-3 fw-bold"><%= @not_paid_percent %>%</div>
                      </div>
                      <div class="col">
                        <div class="progress progress-sm mr-2">
                          <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-triangle-exclamation fa-2x text-secondary opacity-50"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Pending Requests Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="fw-bold text-warning text-uppercase mb-1">
                      Alunos Matriculados</div>
                    <div class="h5 mb-0 fw-bold "><%= @registered_students  %></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-people-group fa-2x text-secondary opacity-50"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Content Row -->
        <div class="row">
          <!-- Area Chart -->
          <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 fw-bold text-primary">Entradas dos últimos 6 meses</h6>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <section data-controller="monthly-chart">
                    <canvas 
                      data-monthly-chart-target="monthly"
                      id="monthly"
                      data-values="<%= @totals_by_month.to_json %>"
  >                  </canvas>
                  </section>
                </div>
              </div>
            </div>
          </div>
          <!-- Pie Chart -->
          <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 fw-bold text-primary">Cursos</h6>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <section data-controller="course-chart">
                  <canvas
      id="course"
      width="300"
      height="300"
      data-course-chart-target="course"
      data-values= <%= [
                          @total_kids, @total_teens, @total_adults, @total_particulares
                        ].to_json %>>
                  </canvas>
                </section>
                <div class="mt-4 text-center small">
                  <span class="mr-2">
                    <i class="fas fa-circle text-primary"></i> Kids
                  </span>
                  <span class="mr-2">
                    <i class="fas fa-circle text-success"></i> Teens
                  </span>
                  <span class="mr-2">
                    <i class="fas fa-circle text-info"></i> Adults
                  </span>
                  <span class="mr-2">
                    <i class="fas fa-circle text-warning"></i> Particulares
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Content Row -->
        <div class="row">
          <!-- Content Column -->
          <div class="col-lg-6 mb-4">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 fw-bold text-danger">Mensalidades em atraso</h6>
              </div>
              <div class="card-body">
                <ul class="list-group shadow-sm rounded">
                <% @monthly_fees_late.each do |mf| %>
                  <li class="list-group-item d-flex justify-content-between align-items-center py-3">
                    <div>
                      <strong><%= mf.student.name %></strong>
                      <div class="text-muted small">
                        Vencimento em: <%= mf.due_date.strftime('%d/%m') %>
                      </div>
                    </div>
                    <span class="badge bg-success fs-6 px-3 py-2 rounded-pill">
                      <%= number_to_currency(mf.value, unit: 'R$', separator: ',', delimiter: '.') %>
                    </span>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <!-- Color System -->
        </div>
        <div class="col-lg-6 mb-4">
          <!-- Approach -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 fw-bold text-primary">Últimas mensalidades Pagas</h6>
            </div>
            <div class="card-body">
              <ul class="list-group shadow-sm rounded">
                <% @last_montlhy_paids.each do |mf| %>
                  <li class="list-group-item d-flex justify-content-between align-items-center py-3">
                    <div>
                      <strong><%= mf.student.name %></strong>
                      <div class="text-muted small">
                        Pago em: <%= mf.payment_date.strftime('%d/%m %H:%M') %>
                      </div>
                    </div>
                    <span class="badge bg-success fs-6 px-3 py-2 rounded-pill">
                      <%= number_to_currency(mf.value, unit: 'R$', separator: ',', delimiter: '.') %>
                    </span>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
</div>
<!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->