<div class="d-flex justify-content-between">
  <h1 class="text-primary">Private Classes</h1>
</div>
<div class="album pt-3 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-3 mb-4">
      <% @lesson_counts.each do |teacher_id, count| %>
        <% teacher = @teachers[teacher_id] %>
        <div class="col">
          <div class="card shadow-sm border-primary h-100">
            <div class="card-body px-2">
              <h5 class="card-title text-primary">
                <i class="fa-solid fa-chalkboard-teacher me-2"></i>
                <%= teacher&.name || "Desconhecido" %>
                <%= link_to 'Ver aulas do professor', show_teacher_private_class_path(teacher_id) %>
              </h5>
              <p class="card-text mb-1">
                <strong>Aulas de <%= I18n.l(@date, format: "%B") %>:</strong> <%= count %>
              </p>
              <p class="card-text">
                <strong>Valor total:</strong>
                R$ <%= number_to_currency(@lesson_values[teacher_id] || 0, unit: "", separator: ",", delimiter: ".") %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= month_calendar do |date| %>
      <div class="border p-1 rounded bg-light" style="min-height: 100px;">
        <div class="d-flex justify-content-between align-items-center">
          <div class="fw-bold"><%= date.day %></div>
          <small>
            <%= link_to 'Criar aula', new_lesson_admin_private_lessons_path(start_date: date, role: 'admin'), class: 'link-secondary' %>
          </small>
        </div>
        <% @private_lessons.select { |e| e.start_time.to_date == date }.each do |lesson| %>
          <% student = lesson.current_plan.student%>
          <% teacher = lesson.current_plan.teacher %>
          <% color = color_for_teacher(teacher) %>
          <div class="badge mt-1 d-block text-white" style="background-color: #<%= color %>;">
            <%= lesson.start_time.strftime('%H:%M') %> -
            <%= link_to student.first_and_last_name, lesson, class: 'text-white' %><br>
            <%= lesson.current_plan.teacher&.name || 'Sem professor cadastrado(a)' %>
            <%= '<i class="fa-solid fa-circle-exclamation"></i>'.html_safe if lesson.notes.present? %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
