<div class="d-flex justify-content-between">
  <h1 class="text-primary">Private Classes</h1>
</div>
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <% colors = ["primary", "success", "warning", "info", "secondary", "dark" , "ffffff", "cccccc", "6c6c6c", "f5f5f5"] %>
    <%= month_calendar do |date| %>
      <div class="border p-1 rounded bg-light" style="min-height: 100px;">
        <div class="d-flex justify-content-between align-items-center">
          <div class="fw-bold"><%= date.day %></div>
          <small>
            <%= link_to 'Criar aula', new_private_lesson_path(start_date: date), class: 'link-secondary' %>
          </small>
        </div>
        <% @private_lessons.select { |e| e.start_time.to_date == date }.each do |lesson| %>
          <% color_index = lesson.current_plan.student.id % colors.size %>
          <div class="badge bg-<%= colors[color_index] %> mt-1 d-block">
            <%= lesson.start_time.strftime('%H:%M')%> - <%= lesson.current_plan.student.name %>  <%= '<i class="fa-solid fa-circle-exclamation"></i>'.html_safe if lesson.notes.present? %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
