<h1>Teachers</h1>
<div class="album pt-3 bg-body-tertiary">
  <div class="container">
    <p class="card-text">
      <strong>Valor total das aulas:</strong>
      R$ <%= number_to_currency(@lesson_values_per_teacher[@teacher.id] || 0, unit: "", separator: ",", delimiter: ".") %>
    </p>
    <div class="row row-cols-1 row-cols-md-2 g-3 mb-4">
      <% @lesson_counts.each do |student_id, count| %>
        <div class="col">
          <div class="card shadow-sm border-primary h-100">
            <div class="card-body px-2">
              <h5 class="card-title text-primary">
                <i class="fa-solid fa-chalkboard-teacher me-2"></i>
                <%= Student.find(student_id)&.name || "Desconhecido" %>
              </h5>
              <p class="card-text mb-1">
                <strong>Aulas de <%= I18n.l(@date, format: "%B") %>:</strong> <%= count %>
              </p>
              <p class="card-text">
                <strong>Valor total:</strong>
                R$ <%= number_to_currency(@lesson_values[student_id] || 0, unit: "", separator: ",", delimiter: ".") %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>